.envelope-wrapper {
    position: relative;
    width: 300px;
    height: 200px;
    cursor: pointer;
    margin: 0 auto;
}

.envelope {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #d32f2f;
}

.side {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    z-index: 3;
}

.side.left {
    left: 0;
    border-left: 150px solid #ff527b;
}

.side.right {
    right: 0;
    border-right: 150px solid #ff527b;
}

.front {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 200px solid #ff527b;
    z-index: 10;
    pointer-events: none;
}

.flap {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 130px solid #ff869a;
    /* Flap color */
    transform-origin: top;
    z-index: 20;
}

.heart-seal {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    /* Need specific translate handling in motion */
    font-size: 40px;
    z-index: 25;
    pointer-events: none;
    margin-left: -20px;
    /* Quick fix for centering with framer motion transform override */
}